{% extends 'base.html.twig' %}

{% block pageTitle %}
	<h1>About us!</h1>
	<p class="lead">Find out who is behind this company.</p>
{% endblock %}

{% block body %}
	Content area for the about site
{% endblock %}
