{% extends 'base.html.twig' %}

{% block pageTitle %}
	<h1>Get in contact!</h1>
	<p class="lead">Need more information? Any questions? Just aks us!</p>
{% endblock %}

{% block body %}
	Content for the contact page.
{% endblock %}
