{% extends 'base.html.twig' %}

{% block pageTitle %}
	<h1>Welcome to Company!</h1>
	<p class="lead">This website is a free-of-charge platform to exchange positions for
		doghandlers in sleddog kennels.</p>
{% endblock %}

{% block body %}
	This is the homepage!!!
{% endblock %}
