{% extends 'base.html.twig' %}

{% block pageTitle %}
	<h1>What's going on?</h1>
	<p class="lead">News and buzzfeeds</p>
{% endblock %}

{% block body %}
	This is the news page content
{% endblock %}
