{% extends 'base.html.twig' %}

{% block pageTitle %}
	<h1>Our products!</h1>
	<p class="lead">What we do best and why we do it.</p>
{% endblock %}

{% block body %}
	This is the products page content
{% endblock %}
