{% extends 'base.html.twig' %}

{% block pageTitle %}
	<h1>Secure area!</h1>
	<p class="lead">This is an example for a secured content page</p>
{% endblock %}

{% block body %}
	Content for the secured page
{% endblock %}
