{% extends 'base.html.twig' %}

{% block pageTitle %}
	<h1>We embrace service!</h1>
	<p class="lead">The services we offer to our clients.</p>
{% endblock %}

{% block body %}
	This is the sevice page content
{% endblock %}
