{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request" novalidate="novalidate">
    <div class="form-group">
        {% if invalid_username is defined %}
            <div class="alert alert-danger" role="alert">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</div>
        {% endif %}
        <label for="username">{{ 'resetting.request.username'|trans }}</label>
        <input type="text" id="username" name="username" required="required" class="form-control"/>
    </div>
    <div>
        <input type="submit" value="{{ 'resetting.request.submit'|trans }}" class="btn btn-primary"/>
    </div>
</form>
